[Desktop Entry]
Type=Application
Name=BiD
GenericName=Audient iD Mixer
Comment=Control panel for Audient iD audio interfaces
Exec=BiD
Icon=bid
Terminal=false
Categories=AudioVideo;Audio;Mixer;
Keywords=audient;mixer;audio;interface;soundcard;
StartupWMClass=bid
SingleMainWindow=true
